<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" />
    <!-- MapBox  -->
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script>
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css"
      rel="stylesheet"
    />
    <!-- App Styles -->
    <link href="/stylesheets/styles.css" rel="stylesheet" />

    <title>Yelp Camp</title>
  </head>

  <body class="d-flex flex-column vh-100">
    <%-include('./partials/nav')%>
    <main class="container"><%-include('./partials/flash')%> <%- body -%></main>
    <%-include('./partials/footer')%>

    <script src="/javascripts/bootstrap.bundle.min.js"></script>
    <script src="/javascripts/validateForms.js"></script>
  </body>
</html>
